<<<<<<< HEAD
body
{
    background-color: rgba(122, 122, 233, 0.253);
    height: 100vh;
}
.container
{
    background-color: rgba(122, 122, 233, 0.253);
    border: solid cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    height: 600px;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}
img
{
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    position: relative;
=======
body
{
    background-color: rgba(122, 122, 233, 0.253);
    height: 100vh;
}
.container
{
    background-color: rgba(122, 122, 233, 0.253);
    border: solid cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    height: 600px;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    position: relative;
>>>>>>> 67f75f3a0d524eacd0a048c192fa6670f7b88308
}